<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
        default-lazy-init="true" profile="mobile_app">

    <bean id="applicationSteps" class="org.vividus.bdd.steps.ApplicationSteps" >
        <constructor-arg index="0" ref="jsonUtils-LowerCamelCase"/>
    </bean>

    <bean id="vividusDriverFactory" class="org.vividus.selenium.VividusMobileAppDriverFactory"
          parent="parentVividusDriverFactory" />

    <util:list id="stepBeanNames-Native" value-type="java.lang.String">
        <value>applicationSteps</value>
    </util:list>
</beans>
