<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
        default-lazy-init="true">

    <bean id="parentVividusDriverFactory" class="org.vividus.selenium.AbstractVividusDriverFactory"
          abstract="true" >
        <property name="remote" value="${proxy.remote}" />
    </bean>

    <bean id="webDriverProvider" class="org.vividus.selenium.WebDriverProvider"
          destroy-method="destroy">
        <property name="vividusDriverFactory" ref="vividusDriverFactory" />
        <property name="testContext" ref="testContext" />
    </bean>

    <bean id="webDriverManagerContext" class="org.vividus.selenium.WebDriverManagerContext" />

    <bean id="proxy" class="org.vividus.proxy.ThreadedProxy" />

    <bean id="proxyServerFactory" class="org.vividus.proxy.ProxyServerFactory">
        <property name="trustAllServers" value="${proxy.trust-all-servers}" />
        <property name="advancedHostResolver">
            <bean class="org.vividus.proxy.dns.HostNameResolver">
                <property name="dnsMappingStorage" ref="localDnsStorage" />
            </bean>
        </property>
        <property name="captureTypes" value="${proxy.capture-types}"/>
    </bean>

    <bean id="driverFactory" class="org.vividus.selenium.DriverFactory">
        <property name="remoteDriverUrl" value="${selenium.grid.url}" />
    </bean>

    <bean id="remoteWebDriverFactory" class="org.vividus.selenium.RemoteWebDriverFactory" />

    <bean id="driverManager" class="org.vividus.selenium.manager.DriverManager">
        <property name="nativeApp" value="${mobile-native-app}" />
    </bean>
 </beans>
